@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	background-color: #eee;
	height: auto;
}
h1{
	font-weight: 400;
	font-size: 2.5rem;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-weight: 400;
	font-size: 1.1rem;
	text-transform: capitalize;
	margin: 0;
}

figure{
	margin: 0;
	padding: 0;
}

img {
	display: block;
	width: 100%; /*100% of the container => browser window*/
}

main{
	max-width: 900px;
	margin: auto;
	box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
	-30px 0px 40px rgba(0,0,0,0.1); 
}

#landing {
	background: #fff;
}

#landing-text {
	display: flex;
	flex: 0 1 40vw;
	height: 50vh;
	justify-content: center; /*Horizontal*/
	align-items: center;	/*vertical*/
	text-align: center; 
	padding: 0 1rem; 
}

#landing-text h2{
	color: #888;
}

#landing-image {
	background: url(../img/showCase.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 60vh;
	flex: 0 1 60vw;
	margin: 0
}
.btn{
	padding: 0.5rem 2rem;
	border:1px solid #ccc;
	display: inline-block;
	margin: 2rem 0 0;
	border-radius: 50px;
	text-decoration: none;
	color: #333;
	transition: background 500ms ease;
}

.btn:hover {
	background: #f4f4f4;
}

#header {
	padding: 1.5rem;
	text-align: center;
	background: #333;
	color: #fff; 
}

#header h2 {
	border-left: dotted 1px #fff;
	border-right: dotted 1px #fff;
	display: inline-block;
	padding: 0 1rem;
}

figcaption{
	padding: 0.8rem;
	text-align:center;
}

footer{
	text-align: center;
	padding: 2rem 1rem;
	margin: auto;
	color: #333;
}

footer h3{
	font-size: 3rem;
	margin-bottom: 0;
}


/*screen sizes 500px and up*/

@media (min-width: 500px){
	h1{
		font-size: 2.3rem;
	}
	#landing {
		display: flex;
		height: 100%;
	}

	#landing-text{
		height: 100vh;
	}

	#landing-image{
		height: 100vh;
	}
}

/*screen sizes 700px and up*/

@media (min-width: 700px){
	
	.btn {
		padding: 1rem 2.5rem;
	}
}

@media (max-width: 450px){
	#landing-text{
		padding: 2rem;
	}
}